* {
    margin: 0px;
    padding: 0px;
}

body {
	width:80%;
	margin:30px auto;
}

header{
	border-bottom: 5px solid black;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

footer{
	font-style: oblique;
	font-weight: bold;
	vertical-align: middle;
	text-align: center;
	height: 40px;
	border-top: 5px solid black;
	padding-top: 10px;
	background: violet;
}

section{
	min-height: 400px;
}

input[type='text']{
	width :200px;
	padding :10px;
	border-radius: 5px;
	margin: 10px 5px;
	display: block;
}
input[type='number']{
	width :200px;
	padding :10px;
	border-radius: 5px;
	margin: 10px 5px;
	display: block;
}
input[type='password']{
	width :200px;
	padding :10px;
	border-radius: 5px;
	margin: 10px 5px;
	display: block;
}
input:focus{
	padding :10px;
	border-radius: 5px;
	background: black;
	color: white;
	font-weight: bold;

}
input[type='submit']{
	width :200px;
	padding :10px;
	border-radius: 5px;
	margin: 10px 5px;
	display: block;
}
input[type='submit']:hover{
	background: blue;
}
table{
	margin: 10px 0 100px;
	border-collapse: collapse;
	width: 80%;
}
th{
	padding: 10px;
	border-bottom: 2px solid grey;
	border-left: 2px solid lightgreen;	
	border-right: 2px solid lightgreen;
	background-color: lightgreen;
}
td {
	border: 1px solid lightgreen;
	padding: 10px;
}
tr:hover {
	background-color: lightgrey;
}
.error {
	color: red;
}